<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Squada+One&display=swap" rel="stylesheet">
    <title>Profile Page</title>
</head>
<body>
    <header class="header">
        <nav>
          <h3>Welcome User</h3>
          <a href="/parks">All Parks</a>
          <a href="parks/new">Add Parks</a>
        </nav>
    </header>
    <% if (profile) { %>
        <div>Please add your profile information below:</div>
        <section>
            <div>Name: </div>
            <div><%= profile.name %></div>
            <div>Email: </div>
            <div><%= profile.email %></div>
            <div>Phone: </div>
            <div><%= profile.phoneNumber %></div>
            <div>About: </div>
            <div><%= profile.aboutInfo %></div>
            <div>Journal Entries: </div>
            <div><%= profile.journal %></div>
        </section>
    <% } else { %> 
        <form action="/profiles/new" method="POST">
            <label>Full Name:</label>
            <input type="text" name="name">
            <label>Phone Number:</label>
            <input type="Number" name="phoneNumber">
            <label for="about">About Me</label>
            <textarea name="aboutInfo" id="about"></textarea>
            <label for="journal">Add Journal Entry</label>
            <textarea name="journal" id="about"></textarea>
            <input type="submit" value="Save Changes">
        </form>
    <% } %> 
</body>
</html>