<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Squada+One&display=swap" rel="stylesheet">
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script defer src="/javascripts/script.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title><%= park.parkName %></title>
</head>
<body>
    <div class="navbar-fixed">
        <nav class="#0d47a1 blue darken-4">
            <div class="nav-wrapper">
                <ul>
                    <li class="left"><%= park.parkName %></li>
                    <li class="right"><a class="logout" href="/logout">Logout</a></li>
                    <li class="right"><a class="logout" href="/parks">All Parks</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <section class="park-info">
        <div class="baby-container">
            <div>
                <img class="show-img" src="<%= park.image %>" alt="<%= park.parkName %>" width="300px" height="200px">
            </div>
            <div class="additional">
                <h3>Park Details:</h3>
                <div> 
                    <% if (park.hasLake === true) { %>
                        <div><strong>Lake:</strong><%= ' Yes' %></div>
                    <% } %>
                </div>
                <div><strong>Amount of Trails: </strong><%= park.numTrails %></div>
                <% if (park.hasPrimitiveCamping === true) { %>
                    <div><strong>Primitive Camping:</strong><%= ' Yes' %></div>
                <% } %> 
                <div><strong>Want to leave a review?  Add one below!</strong><br><br></div>
            </div>
        </div>
        <div class="details">
            <h5>Brief History:</h5>
            <%= park.details %><br>
        </div>
    </section>
    <form action="/parks/<%= park._id %>/reviews" method="POST">
        <input type="text" name="content" placeholder="Add Review Here">
        <label>Click below to rate:</label>
        <div class="input-field col s12">
            <select name="rating">
                <option value="" disabled selected></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <input type="submit" value="Add Review">
    </form>
    <% if (park.reviews.length) { %>
        <table>
            <thead>
                <tr>
                    <th>Rating</th>
                    <th>Date</th>
                    <th>User</th>
                    <th>Review</th>
                </tr>
            </thead>
            <tbody>
                <% let count = 0 %>
                <% park.reviews.forEach(function(p, idx) { %>
                    <% count+=p.rating %> 
                    <tr>
                        <td> <%= p.rating %> </td>
                        <td> <%= p.createdAt.toLocaleDateString() %> </td>
                        <td> <%= p.createdBy.name %> </td>
                        <td> <%= p.content %> </td>
                        <% if (p.createdBy.equals(user && user._id)) { %> 
                            <td>
                                <form class="edit-form" data-set="<%= idx %>" action="/reviews/<%= p._id %>?_method=PUT" method="POST">
                                    <select name="rating" value="<%= p.rating %>">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    <input type="text" name="content" value="<%= p.content %>">
                                    <input type="submit" value="Submit Change">
                                </form>
                                <button id="body-edit" data-set="<%= idx %>" class="edit-submit" type="submit">Update Review</button>
                            </td>
                            <td>
                                <form action="/reviews/<%= p._id %>?_method=DELETE" method="POST">
                                    <button type="submit">Delete Review</button>
                                </form>
                            </td>
                        <% } %> 
                    </tr>
                    <% }); %>
                    <td>Average Rating: <%= (count / park.reviews.length).toFixed(1) %></td>
                </tbody>
        </table>
    <% } else { %>
        <h4>No Reviews Submitted Yet</h4>
    <% } %> 
    <%- include('../partials/footer') %>