<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Squada+One&display=swap" rel="stylesheet">
    <title>Park Details</title>
</head>
<body>
    <header class="header">
        <nav id="parks-nav">
          <h3><%= park.parkName %></h3>
          <a href="/parks">View All Parks</a>
          <a href="/profiles">View Profile</a>
        </nav>
    </header>
    <section>
        <h3>Park Details</h3> 
            <div>Lake: </div>
            <div><%= park.hasLake %></div>
            <div>Amount of Trails: </div>
            <div><%= park.numTrails %></div>
            <div>Primitive Camping: </div>
            <div><%= park.hasPrimitiveCamping %></div>
            <div>See below reviews:</div>
            <% if (park.reviews) { %> 
                <div><%= park.reviews %></div>
            <% } else { %> 
                <h3>No reviews yet!</h3>
            <% } %> 
    </section>
    <form action="/parks/<%= park._id %>">
        <label>Add Review: </label>
        <textarea name="reviews"></textarea>
        <label></label>
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </form>
</body>
</html>